# Editor Files
*~
*#
# Ignore pictures
*.png
# Ignore the eos directory
*eos_dir*
*eos_draw*
# Ignore module importing artifacts
*pycache*
# Ignore condor artifacts
*.log
*.error
*.out

#Ignore csv
*.csv